body{
	background-image: url(../img/about.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.container{
    background-color: rgba(52, 58, 64, 0.95 );
}
#aboutLogo{
	height: 10rem;
}
