body{
	background-image: url(../img/flights.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.container{
    background-color: rgba(52, 58, 64, 0.85 );
}
.noResultDiv{
	color: white;
	position: absolute;
	bottom: 50%;
	left: 40%;
}
.noResultDiv div{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}