body{
	height: 100vh;
}

.navbar{
	height: 8%;
}

.navbar-nav{
	width: 30%;
}

.navbar-logo{
	height: inherit;
}

.modal-body{
	display: flex;
	justify-content: center;
	align-items: center;
}

#anysearch-slidebox{
	display: none !important;
}

.container{
	height: 87%;
	overflow: auto;
}

.footer{
	height: 5%;
	color: rgba(255,255,255,.5);
}

.container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.container::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.container::-webkit-scrollbar-thumb
{
	background-color: #343a40;
}

#contactmessage{
	resize: none;
}